body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

p {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: yellowgreen;
}

.holy-grail-grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar'
        'footer';
}

.holy-grail-grid > * {
    padding:1rem;
}

.holy-grail-grid > .header {
    grid-area:header;
    background: white;
}
.holy-grail-grid > .main-content {
    grid-area:main-content;
    background: green;
}
.holy-grail-grid > .left-sidebar {
    grid-area:left-sidebar;
    background: red;
}
.holy-grail-grid > .right-sidebar {
    grid-area:right-sidebar;
    background: blue;
}
.holy-grail-grid > .footer {
    grid-area:footer;
    background: yellow;
}


@media (min-width:768px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main-content main-content'
            'left-sidebar right-sidebar'
            'footer footer';
    }
}

@media (min-width:1024px) {
    .holy-grail-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'header header header header'
            'left-sidebar main-content main-content right-sidebar'
            'footer footer footer footer';
    }
}
