    h1 {
      position: relative;
      top: 20px;
      left: 5px;
      background-color: blue;
      width: 300px;
      padding: 20px;
    }

    .image-container {
      position: relative;
      display: inline-block;
    }

    .image-container img {
      display: block;
      width: 300px;
      height: auto;
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
      margin: 15px;
      background-color: black;
      color: white;
      padding: 5px;
    }