   body {
      margin: 0;
      font-family: Arial;
      display: flex;
      flex-direction: column;
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: blue;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    main {
      margin-top: 70px;
      display: flex;
      padding: 10px;
    }

    .content {
      flex: 3;
      margin-right: 10px;
    }

    .sidebar {
      flex: 1;
      background-color: white;
      padding: 10px;
    }

    .sticky-element {
      position: sticky;
      top: 0;
      background-color: yellow;
      padding: 10px;
      margin-bottom: 10px;
    }

    footer {
      background-color: darkgrey;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 10px;
    }

    .content p {
      margin-bottom: 20px;
    }
    
    html, body {
        overflow-y: auto;
    }